* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgba(237, 228, 228, 0.36);
}

.columnflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.rowflex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head input {
    height: 8vh;
    width: 30vw;
    border-radius: 6px;
    background-color: white;
    border: none;
    padding: 0 20px;
}

.head input::placeholder {
    color: rgba(141, 137, 137, 0.688);
    font-weight: 500;
    font-size: 1rem;
}

.head {
    gap: 20px;
}

.head button {
    height: 7.5vh;
    width: 13vw;
    border-radius: 6px;
    background-color: #885df1;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.container {
    margin: 10px auto 0px;
    ;

    width: 48vw;
    padding: 60px 50px 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 30px 50px #4132642d
}

.cityinfo {
    gap: 3vw;
}

.leftinfo h1 {
    font-size: 2.2rem;
    margin: 20px 0px 5px;
}

.leftinfo p {
    width: 22vw;
    padding: 2px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(39, 33, 66, 0.4);
}

.leftinfo p strong {
    color: #f65282;
}

.rightinfo h1 {
    font-size: 50px;
}

.currentTemp {
    justify-content: center;
    display: flex;
    align-items: center;
}

#emojisrc {
    height: 70px;
    width: 70px;
}

.timevalue {
    font-size: 40px;
}

.tempinfo {
    gap: 25px;
    flex-wrap: wrap;
    font-size: 20px;
    margin: 5px 0px;

}

.tempinfo .day {
    color: rgba(39, 33, 66, 0.4);
    text-align: center;
}

.tempinfo .max {
    color: #f65282;
    font-size: 12px;
}

.tempinfo .min {
    color: #f65283b0;
    font-weight: bolder;
    font-size: 12px;
}

.tempinfo .emoji {
    margin: 18px 0px;
    text-align: center;
}

.tempinfo .emoji img {
    height: 80px;
    width: 80px;
}

.footer p {
    color: rgba(39, 33, 66, 0.4)
}

.footer p a {
    color: #885df1;
}